@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  overflow: hidden;
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  background-color: white; 
  z-index: 1000; 
}
header nav ul li {
  display: inline-block;
  margin: 0 40px;
}
header nav .logo,
.btn-nav {
  margin: 0 80px;
}
header nav .logo a {
  color: black;
  font-size: 45px;
  font-weight: 800;
}
header nav .logo span {
  color: red;
}
header nav ul li a {
  color: black;
  font-size: 17px;
  font-weight: 600;
  position: relative;
}
header nav .btn-nav button {
  width: 140px;
  height: 45px;
  border-radius: 20px;
  border: none;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
/* Main Section */
main {
  height: 70vh;
  
}
main .main-content {
  width: 100%;
  height: 75%;
  background: url(main.jpg) center center/cover no-repeat;
  z-index: 1;
  position: relative;
  height: 80vh;
  overflow: hidden;
}
main .main-content::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  width: 0%;
  height: 100%;
  animation: blackslide 1.5s ease-out forwards;
  z-index: -1;
}
@keyframes blackslide {
  to {
    width: 50%;
  }
}
main .main-text {
  color: white;
  width: 790px;
  margin-top: 13rem;
  margin-left: 2.5rem;
}
main .main-content .main-text h1 {
  font-size: 41px;
  margin-bottom: 1rem;
}
main .main-content .main-text span {
  color: red;
}
.btn-nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.btn-nav button {
  padding: 0; 
  margin: 0; 
  width: 155px;
  height: 45px;
  margin-top: 1rem;
  border: none;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
}


/* Menu section */
.menu-list .item p {
  padding: 20px; 
}

.menu {
  height: 670vh;
  margin-top: 5rem;
  
}
.menu .menu-heading > h1 {
  color: rgb(0, 0, 0);
  font-size: 50px;
  text-align: center;
  padding: 20px;
}
.menu .menu-heading span {
  color: red;
}
.menu-list .item img {
  width: 320px;
  border-radius: 50%;
  border: 4px solid red;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}
.menu-list .item {
  width: 420px;
  height: 600px;
  background-color: rgb(249, 249, 249);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}
.menu-list .item button {
  width: 145px;
  height: 45px;
  border-radius: 25px;
  background-color: red;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}
.under {
  background-color: black;
  color: white;
  width: 400px;
  height: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.5s;
}
.menu-list .item:hover + .under {
  height: 100px;
  transition: 0.5s;
}

.menu-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px;
  gap: 8rem;
}
.item h1:last-child {
  background-color: red;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1rem;
  top: 4rem;
}
/* Drinks */
section {
  padding: 50px 0; 
}
.drinks {
  margin-bottom: 5rem; 
}
.drinks .dr-heading {
  text-align: center;
  padding: 25px;
}

.drinks .dr-heading h1 {
  font-size: 40px;
}

.drinks .dr-heading span {
  color: red;
}

.dr img {
  width: 200px;
  border-radius: 50%;
  transition: transform 0.5s ease; 
  display: block; 
  margin: 0 auto;
}

.dr img:hover {
  transform: scale(1.1);
}

.dr-content {
  background-color: white; 
  padding: 20px;
  border-radius: 10px; 
  transition: background-color 0.3s ease; 
  width: 100%; 
  text-align: center;
}

.dr:hover .dr-content {
  background-color: lightgrey;
}

.dr div {
  transition: transform 0.5s ease, color 0.5s ease, font-weight 0.5s ease; 
}

.dr:hover div {
  transform: translateX(10px);
  color: black; 
  font-weight: bold; 
}

.dr {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1rem; 
  cursor: pointer; 
  flex-direction: column; 
}

.dr :last-child {
  margin: 20px 30px;
}

.dr button {
  width: 120px;
  height: 38px;
  border-radius: 25px;
  background-color: red;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

.drinks-lr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 2rem;
  margin: 0 auto; 
  max-width: 1200px;
}
/* Gallery */
.gallery {
  height: 240vh;
}
.gallery .gal-heading {
  text-align: center;

  padding: 20px;
  margin-bottom: auto;
}
.gallery .gal-heading h1 {
  font-size: 40px;
}
.gallery .gal-heading span {
  color: red;
}
.gallery .gal-items img {
  width: 500px;
  border-radius: 25px;
  border: 5px solid red;
  cursor: pointer;
  transition: 0.5s;
}
.gallery .gal-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 3rem;
}
.gallery .gal-items img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 0 30px rgba(0, 0, 0, 5);
}
/* Links */
.links {
  height: 100vh;
}
.three {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 450px;
  height: 650px;
  background-color: rgb(248, 248, 248);
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: 0.5s;
  padding: 20px;
}

.box .cir {
  margin-top: 20px;
}

.box h1 {
  margin: 10px 0;
}

.box p {
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
}

.cir {
  width: 300px;
  height: 300px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  margin-top: 2rem;
  transition: all 0.5s;
}
.cir .fa-solid {
  color: white;
  font-size: 90px;
}
.box:hover {
  scale: 0.9;
  box-shadow: none;
  transition: 0.5s;
  .cir {
    transform: rotate(360deg);
    box-shadow: none;
    scale: 0.9;
    transition: all 0.5s;
  }
  
}
/* Jobs */
.jobs-section {
  height: 300vh;
}

.jobs-section .j-heading {
  text-align: center;
  padding: 25px;
}

.jobs-section .j-heading h1 {
  color: black;
  font-size: 40px;
}

.jobs-section .j-heading span {
  color: red;
}

.jobs-section .j-posts .j img {
  width: 500px;
}

.jobs-section .j {
  width: 500px;
  height: 1100px;
  text-align: center;
  background-color: rgb(242, 242, 242);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
}
.jobs-section .j:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.jobs-section .j p {
  line-height: 1.5rem;
  padding: 15px;
}

.jobs-section .j button {
  width: 140px;
  height: 45px;
  border-radius: 20px;
  background-color: red;
  color: white;
  border: none;
  font-weight: 700;
  margin-bottom: 1rem;
  cursor: pointer;
}

.j-posts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 8rem;
}

/* Reviews */

.reviews {
  height: 160vh;
  background-color: black;
}
.reviews .rev-heading {
  text-align: center;
  padding: 25px;
}
.reviews .rev-heading h1 {
  font-size: 40px;
  color: white;
}
.reviews .rev-heading span {
  color: red;
}
.rev {
  background-color: rgb(242, 242, 242);
  width: 400px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  border-radius: 20px;
  cursor: pointer;
}
.all-revs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 5rem;
}
.all-revs .rev .fa-solid {
  color: gold;
  font-size: 20px;
  transition: 0.5s;
}
.all-revs .rev:hover .fa-solid {
  font-size: 40px;
  transition: 0.5s;
}
.all-revs .rev:hover i {
  transform: rotate(360deg);
}

/* Story */
our-story {
  height: 200vh;
  width: 900px;
  margin: 0 auto;
}
.our-story .st-heading{
  text-align: center;
}
.our-story h1{
  font-size: 40px;
  margin: 5rem;
}
.our-story p{
  font-size: 20px;
  margin: 5rem;
}
span{
  color: red;
}
.our-story img {
  display: inline-block;
  margin:0 auto;
  
  width: 700px;
  margin-top: 4rem;
}


/* Contact */
.contact {
  background-color: black;
  color: white;
  padding: 50px 0;
  padding-bottom: 50px;
}

.contact .contact-heading {
  text-align: center;
  padding: 25px;
}

.contact .contact-heading h1 {
  font-size: 40px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  width: 100%;
  margin: 15px 0px;
  padding: 20px;
}

label {
  color: white;
}

input[type="submit"] {
  background-color: red;
  color: white;
  border: none;
  font-size: 17px;
}

/* Footer */
.foot {
  height: 30vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgb(255, 0, 0);
}

.foot .adr,
.soc {
  margin: 0 50px;
}

.foot * {
  padding: 10px;
}

.soc {
  font-size: 40px;
}
.btn-nav button:hover,
.item button:hover,
.main-text button:hover {
  background-color: rgb(123, 0, 0);
  cursor: pointer;
  transition: 0.5s;
}

nav ul li a:hover {
  color: rgb(151, 0, 0);
  transition: 0.5s;
}
